---
layout: default
title: "markus' site"
---

<div class="home">

  <h2 class="page-heading">Posts</h2>

  <table>
    {% for post in site.posts %}
      <tr>
        <td class="post-listing-date">{{ post.date | date: "%F" }}</td>
        <td><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a></td>
      </tr>
    {% endfor %}
  </table>

  <h2 class="page-heading">Notes</h2>
  <div class="div-multi-column">
  {% assign notes = site.notes | sort_natural: 'title' %}
  {% for note in notes %}
    <div><a href="{{ note.url | prepend: site.baseurl }}">{{ note.title }}</a></div>
  {% endfor %}
  </div>

  <h2 class="page-heading">Recipes</h2>
  <div class="div-multi-column">
  {% assign recipes = site.recipes | sort_natural: 'title' %}
  {% for recipe in recipes %}
    <div><a href="{{ recipe.url | prepend: site.baseurl }}">{{ recipe.title }}</a></div>
  {% endfor %}
  </div>

</div>
