body {
	font: 18px/1.5 serif;
	margin: 40px auto;
	max-width: 48em;
	line-height: 1.6;
	font-size: 18px;
	color: #444;
	padding: 0 10px;
}

h1, h2, h3 {
	line-height: 1.2
}

.social {
	margin: 0 auto 0 auto;
	text-align: center;
}

.social span a svg {
	height: 1.5em;
	margin-top: 2em;
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.post-listing-date {
	padding-right: 1em;
}

.div-multi-column {
	columns: 3;
	column-width: 15em;
}
