<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset='utf-8'>
        <title>markus' site</title>
        <meta name="description" content="Mostly notes and recipes, some comments in form of a blog.">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    </head>

    <body>
        <div class="container-lg px-3 my-5 markdown-body">

            <header>
                <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
            </header>

            {{ content }}

            <div class="social">
                <span><a href="https://github.com/markus289">{% include social/github.svg %}</a></span>
                <span><a href="https://gitlab.com/markus289">{% include social/gitlab.svg %}</a></span>
                <span><a href="https://www.linkedin.com/in/markus289">{% include social/linkedin.svg %}</a></span>
                <span><a href="https://twitter.com/markus289_">{% include social/twitter.svg %}</a></span>
            </div>
        </div>
    </body>
</html>
